Source: ros-jade-visualization-marker-tutorials
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-roscpp, ros-jade-visualization-msgs
Homepage: http://ros.org/wiki/visualization_marker_tutorials
Standards-Version: 3.9.2

Package: ros-jade-visualization-marker-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-roscpp, ros-jade-visualization-msgs
Description: The visulalization_marker_tutorials package
