Source: ros-jade-visualization-tutorials
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin
Homepage: http://ros.org/wiki/visualization_tutorials
Standards-Version: 3.9.2

Package: ros-jade-visualization-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-interactive-marker-tutorials, ros-jade-librviz-tutorial, ros-jade-rviz-plugin-tutorials, ros-jade-rviz-python-tutorial, ros-jade-visualization-marker-tutorials
Description: Metapackage referencing tutorials related to rviz and visualization.
